<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryan's video shop</title>
    <link rel="shortcut icon" href="/images/CVS-Logo.png" type="image/png">
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/template.css">
    <link rel="stylesheet" href="/CSS/index.css">

</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div th:insert="layout/header :: header">...</div>
        <main class="mt-5 text-center px-3">
            <h1>Bryan's Video shop.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
                edit
                the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Log in</a>
            </p>
        </main>

        <div th:insert="layout/footer ::footer">...</div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>