<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BVS Login</title>
    <link rel="shortcut icon" href="images/CVS-Logo.png" type="image/png">
    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/template.css">
    <link rel="stylesheet" href="CSS/login.css">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="form-signin w-100 m-auto ">
            <div class="mb-4 p-3">
            </div>
            <form>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating text-dark">
                    <input type="email" class="form-control" id="floatingInput" placeholder="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating text-dark">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <div id="errorBox">
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="button" onclick="login()">Sign in</button>
            </form>
        </main>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>